th{
    background-color:lightgrey;
}

.violet{
    background-color: #EAC3FF;
}

.jaune{
    background-color: #F9FFAE;
}
.rose{
    background-color: #FFA7D8;
}

.vert{
    background-color: #A7FFEA;
}

.Bubblegum{
    background-color: #AF8DFE;
}